    .operation{height:140px;width:1080px;background: #fff;color:#4f4f4f;}
	.operation ul{height:100%; text-align: center;margin:0 auto;}
	.operation .a_liansai{width:960px;margin:0 auto;}
	.operation .a_school{width:660px;margin:0 auto;}
	.operation .a_caipan{width:720px;margin:0 auto;}
	.operation .a_liansai li{float: left;width:100px;height:100%;margin:0 60px;cursor: pointer;}
	.operation .a_school li{float: left;width:100px;height:100%;margin:0 100px;cursor: pointer;}
	.operation .a_caipan li{float: left;width:100px;height:100%;margin:0 60px;cursor: pointer;}
	.operation li div{width:70px;margin:15px;}
	.border_bo{border-bottom:3px solid #f24a56}

	.neirong_wk{height:564px;margin-top: 30px;background: #fff;position: relative;}
	.neirong{width:550px;height:auto;min-height:300px;margin:0 auto; position: relative;}
	#league_add,.add_info {margin:0 auto;}
	#league_add td{height:70px;color: #251b3b;font-size: 1.1em}
	.add_info td{height:70px;color: #251b3b;font-size: 1.1em;}
	.input_wk{height:40px;width:350px;margin:5px;}
	.input_l{float:left;height:40px;width:19px;background: url(../images/input_l.png)}
	.input_m{float:left;height:40px;width:312px;background: url(../images/input_m.png);position: relative;line-height: 40px}
	.input_r{float:left;height:40px;width:19px;background: url(../images/input_r.png)}
	.input_text {text-align: left;line-height: 30px;height:30px;margin-top: 5px;width:100%;border: none;font-size: 1em;color:#251b3b;background: #fafafa;font-family:'Microsoft YaHei','SimHei','SimSun' }
    .select_wk{line-height: 30px;height:30px;margin-top: 5px;width:100%;border: none;overflow: hidden;position: relative;float:left;z-index:1;}
    .select_icon{position: absolute;right:2px;top:8px;height:12px;width:16px; background: url(../images/select_icon.png);z-index: 2;}
	#league_add select{line-height: 32px;height:32px;margin: -1px 0 0 -1px;width:120%;border: none;font-size: 1em;color:#251b3b;background: #fafafa;font-family:'Microsoft YaHei','SimHei','SimSun' }
	.add_info select{line-height: 32px;height:32px;margin: -1px 0 0 -1px;width:120%;border: none;font-size: 1em;color:#251b3b;background: #fafafa;font-family:'Microsoft YaHei','SimHei','SimSun' }
	.danwei{float:left;height:100%;line-height:38px;}
	.btn_wk{ height:50px;width:350px;margin:5px auto;cursor:pointer;}
	.btn_wk_broadcast{ height:50px;width:720px;margin:0px auto;cursor:pointer;}
	.btn_l{float:left;height:50px;width:19px;}
	.btn_m{float:left;height:50px;width:312px;}
	.btn_r{float:left;height:50px;width:19px;}
	.btn_l_a_green{background: url(../images/btn_l_a_green.png)}
	.btn_m_a_green{background: url(../images/btn_m_a_green.png)}
	.btn_r_a_green{background: url(../images/btn_r_a_green.png)}
	.btn_l_a_red{background: url(../images/btn_l_a_red.png)}
	.btn_m_a_red{background: url(../images/btn_m_a_red.png)}
	.btn_r_a_red{background: url(../images/btn_r_a_red.png)}
	.input_btn{text-align: center;line-height: 40px;height:40px;margin-top: 5px;width:100%;border: none;font-size: 1.1em;color:#fff;font-family:'Microsoft YaHei','SimHei','SimSun'}


	/*查看列表*/
    #league_list,.list_info{margin-left:2%;width:98%; position: relative;}
    .table_head_left{position:absolute;width:100px;height:65px;background:#127419;top:-5px;left:-10px;line-height: 65px;}
	#league_list thead,.list_info thead{background:#160b2d; color:#fff;font-size:1.2em;}
	#league_list td,.list_info td{height:55px;border-bottom:1px solid #a7a7a7; text-align: center;}
	#league_list tbody td,.list_info tbody td{color:#160b2d;}
	.state{color:#f7715b!important;}
	.league_list_year{height:40px;width:325px;position: absolute;top:5px;left:380px;}
	.league_list_l{float:left;height:40px;width:41px;background: url(../images/list_top_year_l.png);cursor: pointer;}
	.league_list_m{float:left;height:40px;width:242px;background: url(../images/input_m.png);position: relative;color:#160b2d;text-align: center;line-height: 40px;font-size: 1.8em}
	.league_list_r{float:left;height:40px;width:41px;background: url(../images/list_top_year_r.png);cursor: pointer;}
	.tbody_sroll{height:400px;overflow:auto}

	.tbody_sroll input,.tbody_sroll select{height:28px;line-height: 28px;width:80%; text-align: center;}
	.tbody_sroll select{width:100%;}
	.tbody_sroll img{cursor: pointer;}

	#caipan_add .input_wk .input_text{ text-align: center;}
	.level{color:#fff!important;line-height: 47px; font-size: 1.2em}
	.level span{display: block;float:left;width:66px;height:45px;cursor: pointer; position: relative; text-align: center}
	.level div{position: absolute;top:5px;left:5px;height:16px;width:16px;background: url(../images/icon_xiu.png);display:none;}
	.lev1{background: url(../images/level1.png)}
	.lev2{background: url(../images/level2.png)}
	.lev3{background: url(../images/level3.png)}
	.lev4{background: url(../images/level4.png)!important}
	.caizhu div{display:block!important}


	.delete_liansai{position: absolute;top:-30px;right:-250px;}
	.suluetu img{
		width:80%;
		margin:0 auto;
		height:auto;
	}
	.title_wenzi{
		width:400px; 
		white-space:nowrap;
		overflow:hidden;
		text-overflow : ellipsis ;
		margin:0 auto;
	}
	.up,.down{
		height:30px;
		width:30px;
		display: block;
		margin: 10px auto;
		cursor: pointer;
	}
	.up{
		background:url(../images/upup.png);
		background-size:100% 100%; 
	}
	.down{
		background:url(../images/downdown.png);
		background-size:100% 100%; 
	}
	.new_page{
		  position: absolute;
		  top: 0;
		  left: 50%;
		  margin-left: -250px;
		  height: 550px;
		  width: 450px;
		  border: 1px solid #0f0;
		  border-radius: 8px;
		  background: #fff;
	}
	.close {
		  position: absolute;
		  height: 36px;
		  width: 36px;
		  right: -15px;
		  top: -15px;
		  background: url(../images/outdiv_delete.png);
		}
	.new_page_neirong{
		  overflow-y: auto;	
		  height: 550px;
	}	
	#top_table{
		margin:0 auto;
	}
